.timeline {
	display: inline-block;
	position: relative;
	
	@media screen and (min-width: 1330px) {
		width: 100%;
	}

	max-width: 1140px;
	padding: 15px 0;

	&::after {
		content: '';
		position: absolute;
		width: 2px;
		background: var(--accent-color-darker);
		top: 0;
		bottom: 0;
		left: 50%;
		margin-left: -1px;

		@media screen and (max-width: 1330px) {
			left: 10px;
		}
	}
}